CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
gens

build
bin
obj
third_party
grpc
.vs
.vscode

perftest_client
perftest_server

*.pb.cc
*.pb.h

__pycache__